<%-include("header"); -%>

<form action="/home" method="post">
  <div class="break">
    <video width="450" height="800" controls autoplay>
      <source src="<%=foodVid%>" type="video/mp4" />
      <source src="<%=foodVid%>" type="video/ogg" />
    </video>
  </div>
  <div class="rightFloat">
    <h1 class="bigFont break"><%=foodName%></h1>
    <input
      type="text"
      name="foodName"
      placeholder="next food?"
      autocomplete="off"
    />
    <button type="submit">Submit</button>
  </div>
</form>

<%-include("footer"); -%>
